# .SRCINFO
pkgbase = hwgdreqs
    pkgdesc = Geometry Dash level request manager for streamers with Twitch and YouTube chat integration
    pkgver = 0.24.0
    pkgrel = 1
    url = https://github.com/HwGDReqs/HwGDReqs
    install = 
    changelog = 
    arch = any
    license = GPL-V3
    makedepends = python-build
    makedepends = python-installer
    makedepends = python-wheel
    depends = python
    depends = pyside6
    depends = python-requests
    depends = python-cryptography
    depends = yt-dlp
    source = hwgdreqs-0.24.0.tar.gz::https://github.com/HwGDReqs/HwGDReqs/archive/0.24.0.tar.gz
    sha256sums = SKIP

pkgname = hwgdreqs
